@import "variables.scss";
@import "colors.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "mdb.scss";

$footer-height: 150px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

nav {
  .navbar-brand {
    margin-bottom: -18px;
    z-index: 9999;
  }
  .avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $white;
    height: 40px;
    width: 40px;
    img {
      width: 40px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: 60px;
  background-color: $secondary-color;
  color: $white;
}
