@import "variables.scss";
@import "colors.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "mdb.scss";

html {
  position: relative;
  min-height: 100%;
}

nav {
  .navbar-brand {
    margin-bottom: -18px;
    z-index: 9999;
  }
  .avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $white;
    height: 40px;
    width: 40px;
    img {
      width: 40px;
    }
  }
}
