projects:
  app:
    schemaPath: packages/prisma/prisma.graphql
    extensions:
      endpoints:
        default: http://10.142.0.5:4466/trump-said-wtf/
  database:
    schemaPath: packages/prisma/prisma.graphql
    extensions:
      prisma: packages/prisma/database/prisma.yml
      codegen:
        - generator: prisma-binding
          language: typescript
          output:
            binding: ../src/generated/prisma.ts
