@import "variables";
@import "~@coreui/coreui-pro/scss/coreui";
@import "~@coreui/icons/css/coreui-icons.min.css";
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";
$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons.scss";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

@import "custom";

@import "ie-fix";
