.navbar-brand img {
  margin-bottom: -10px;
}

.cardless {
  background-color: #fff;
  padding: 0;
}

.table-hover {
  tr {
    &:hover {
      cursor: pointer;
    }
  }
}

.list-group-step-title {
  padding-right: 1rem;
  // border-right: 1px black solid;
  margin-right: 1rem;
}
